<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>About me</title>
	<link rel="stylesheet" href="{{assets}}/css/main.min.css">
	<link rel="stylesheet" href="{{assets}}/css/balloon.min.css">
	<link rel="stylesheet" href="{{assets}}/css/magic.css">
	{{!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> --}}


	<script type="text/javascript" src="{{assets}}/js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="{{assets}}/js/handlebars.min.js"></script>

	<link rel="stylesheet" href="{{assets}}/css/pure-min.css">
</head>
<body>
	{{>body}}
</body>

</html>